<div class="container">
    <h1>Employees Application</h1>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="username" matInput [formControl]="username" required/>
        <mat-icon matSuffix>username</mat-icon>
        <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="username" matInput [formControl]="password" required/>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit()">
        {{submitLabel}}
    </button>
</div>